.font-family{
    font-family: 'Times New Roman', Georgia, Arial ;
}
.font-size{
    font-size: xx-large ;
}
.font-weight{
    font-weight: bolder ;
}
.font-style{
    font-style: italic ;
}
.font-variant{
    font-variant: small-caps ;
}