.letter-spacing{
    letter-spacing: 1em;
}
.word-spacing{
    word-spacing: 0.5em ;
}
.line-height{
    line-height:1.5em ;
}
.white-space{
    white-space:pre ;
}
.white-space2{
    white-space: nowrap;
}